<!DOCTYPE html>
<html lang="ja">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>カダサポの代わり(怒)</title>
</head>
<body>
	<h1>単位修得状況</h1>
	<p>カダサポから単位情報をコピーして、貼り付け、送信してください。（データはサーバに保存されません。）</p>
	<p>履修・成績＞成績紹介＞科目一覧</p>
	<form action="/check" method="post">
		<textarea name="data" placeholder="全学共通科目
		主題科目
			主題A
				学ぶ・働く・生きる 	1 		優 	2021 	1Q
			主題B
				ヨーロッパの音楽祭の歴史と展望Ａ 	1 		秀 	2021 	3Q
				ヨーロッパの音楽祭の歴史と展望Ｂ 	1 		優 	2021 	4Q
				知プラe科目　コンピュータと教育　その１ 	1 		優 	2021 	1Q" style="width: 900px; height: 500px;"></textarea>
		<button type="submit" style="width: 100px; height: 40px; font-size: 30px;">send</button>
	</form>
</body>
</html>